@{
    ViewData["Title"] = "About";
}

<h3>About JobHunt</h3>

<p>
    JobHunt is a personal project, developed to help myself keep track of jobs that I applied to
    or plan to apply in the future. It also serves as a showcase of my skills, and I try to keep it up-to-date.
</p>

<p>
    After developing it, a friend who is currently applying for jobs, also realised it could be helpful for him,
    so I decided to deploy it to Azure, so other people could have some use from it.
</p>

<h4>Tech stack and tools:</h4>
<ul>
    <li>C#</li>
    <li>HTML/CSS</li>
    <li>JavaScript</li>
    <li>.NET 7</li>
    <li>Entity Framework</li>
    <li>PostgreSQL Database</li>
    <li>Git</li>
    <li>Github Actions</li>
    <li>Azure</li>
    <li>Visual Studio [Code]</li>
</ul>

<p>
    You can check my Github profile here:
    <a href="https://github.com/MattKomorcec" target="_blank">https://github.com/MattKomorcec</a>
</p>

<p>
    I also have a LinkedIn profile here:
    <a href="https://www.linkedin.com/in/matija-k-6b20b0a6/" target="_blank">https://www.linkedin.com/in/matija-k-6b20b0a6/</a>
</p>
