
@{
    ViewData["Title"] = "About";
}

<h3>About JobHunt</h3>

<p>
    JobHunt is a personal project, mainly developed to help myself keep track of jobs that I applied to
    or plan to apply in the future.
</p>

<p>
    After developing it, a friend who is currently applying for jobs, also realised it could be helpful for him,
    so I decided to deploy it to Azure, so other people could have some use from it. So far 5 people are using it :)
</p>

<p>
    That friend also did some work on the frontend part, specifically the theme switcher. You can check him out here:
    <a href="https://kriskendel.github.io/" target="_blank">https://kriskendel.github.io/</a>
</p>

<h4>Tech stack and tools:</h4>
<ul>
    <li>C#</li>
    <li>HTML/CSS</li>
    <li>JavaScript</li>
    <li>ASP.NET Core 2.2</li>
    <li>Entity Framework Core</li>
    <li>SQL Database</li>
    <li>GitHub</li>
    <li>Azure</li>
    <li>Visual Studio</li>
</ul>

<p>
    You can check my Github profile here: 
    <a href="https://github.com/MattKomorcec" target="_blank">https://github.com/MattKomorcec</a>
</p>

<p>
    I also have a LinkedIn profile here:
    <a href="https://www.linkedin.com/in/matija-komorčec-6b20b0a6" target="_blank">https://www.linkedin.com/in/matija-komorčec-6b20b0a6</a>
</p>
