@model PaginatedList<Web.DTO_s.JobIndexDTO>

<h1 class="display-4 text-center">Your Jobs</h1>
<hr />
<div class="text-center">
    <a class="btn btn-outline-primary btn-sm col-lg-2 col-md-3" asp-controller="Home" asp-action="Create">Add a Job</a>
</div>
<hr />

@{
    int totalJobs = Model.TotalJobs;
    int totalRejected = Model.TotalRejected;
    int totalAccepted = Model.TotalAccepted;
    int totalInterviewing = Model.TotalInterviewing;

    double interviewingAppliedPercent = totalInterviewing > 0 && totalJobs > 0 ? ((double)totalInterviewing / totalJobs) * 100 : 0;
    double rejectedAppliedPercent = totalRejected > 0 && totalJobs > 0 ? ((double)totalRejected / totalJobs) * 100 : 0;
}

<dl class="row">
    <dt class="col-md-3 col-sm-12">
        <i class="far fa-paper-plane"></i>
        Total Applied
    </dt>
    <dd class="col-md-1 col-sm-12">
        @totalJobs
    </dd>
    <dt class="col-md-3 col-sm-12">
        <i class="far fa-comments"></i>
        Total Interviewing
    </dt>
    <dd class="col-md-1 col-sm-12">
        @totalInterviewing
    </dd>
    <dt class="col-md-3 col-sm-12">
        <i class="far fa-times-circle"></i>
        Total Rejected
    </dt>
    <dd class="col-md-1 col-sm-12">
        @totalRejected
    </dd>
</dl>

<dl class="row">
    <dt class="col-md-3 col-sm-12">
        <i class="far fa-handshake"></i>
        Total Accepted
    </dt>
    <dd class="col-md-1 col-sm-12">
        @totalAccepted
    </dd>
    <dt class="col-md-3 col-sm-12">
        <i class="fas fa-percent"></i>
        Interviewing / Applied
    </dt>
    <dd class="col-md-1 col-sm-12">
        @Math.Round(interviewingAppliedPercent, 2)%
    </dd>
    <dt class="col-md-3 col-sm-12">
        <i class="fas fa-percent"></i>
        Rejected / Applied
    </dt>
    <dd class="col-md-1 col-sm-12">
        @Math.Round(rejectedAppliedPercent, 2)%
    </dd>
</dl>

<hr />