<div class="jumbotron">
    <h1 class="display-4">Your Job Search, Organized.</h1>
    <p class="lead">
        JobHunt makes it easy to keep track of your job applications with customizable fields for company name, job title, location, salary, and more.
        Stay organized and in control of your job search with JobHunt.
    </p>
    <hr class="my-4">
    <p>To get started with JobHunt, simply create an account or log in if you already have one.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="btn btn-info btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </p>
</div>