<div class="jumbotron">
    <h1 class="display-4">Welcome to JobHunt!</h1>
    <p class="lead">JobHunt helps you keep track of jobs you already applied to, or plan to apply in the future.</p>
    <hr class="my-4">
    <p>Please register to start using the app, or if you're already registered, please login.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="btn btn-info btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </p>
</div>